<MudCarouselItem Transition="@Transition.Fade">
    <div style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(@ImageLocation)" 
         class="background-image-container">
    </div>
</MudCarouselItem>